.stepNum {
    border: 1px solid #bcbcbc;
    display: grid;
    grid-template-columns: 18px auto 18px;
    box-sizing: border-box;

    .content {
        border-left: 1px solid #bcbcbc;
        border-right: 1px solid #bcbcbc;
        padding: 0 7px;
    }

    .btn {
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        color: #bcbcbc;
    }
}
