.moduleC {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100vh - 62px);
  //background-color: red;

  .classify {
    border-right: 1px solid #ccc;

    .ant-collapse-header-text {
      font-weight: bolder;
    }

    .classifyName {
      user-select: none;

      span {
        cursor: pointer;
        padding-left: 10px;
      }

      &.active {
        span {
          background-color: #1890ff;
          color: #fff;
          padding: 4px 10px;
          border-radius: 4px;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 100px);

    .contentItem {
      height: 100px;
      text-align: center;
      padding-top: 20px;
      cursor: grab;

      span {
        display: block;
      }
    }
  }
}
