@font-face {
    font-family: 'iconfont';  /* Project id 3540782 */
    src: url('//at.alicdn.com/t/c/font_3540782_2z3o6ttchhi.woff2?t=1672059814209') format('woff2'),
    url('//at.alicdn.com/t/c/font_3540782_2z3o6ttchhi.woff?t=1672059814209') format('woff'),
    url('//at.alicdn.com/t/c/font_3540782_2z3o6ttchhi.ttf?t=1672059814209') format('truetype');
}

.iconfont {
    //display: inline-block;
    font: {
        family: iconfont;
        variant: normal;
    }
    font-size: 16px;
    line-height: 1;
    font-style: normal;
    vertical-align: middle;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-shouhuodizhi:before {
    content: "\e64e";
}

.icon-shezhi:before {
    content: "\e602";
}

.icon-xiangyou1:before {
    content: "\e775";
}

.icon-dizhi:before {
    content: "\e66e";
}

.icon-kehufuwukefu:before {
    content: "\e698";
}

.icon-youhuiquan:before {
    content: "\e8c0";
}

.icon-daifahuo:before {
    content: "\e601";
}

.icon-yiwancheng:before {
    content: "\e6a6";
}

.icon-daishouhuo:before {
    content: "\e640";
}

.icon-daifukuan:before {
    content: "\e612";
}

.icon-shouhou:before {
    content: "\e713";
}

.icon-xiaochengxu:before {
    content: "\e619";
}

.icon-zhanghu:before {
    content: "\e611";
}

.icon-roundcheck:before {
    content: "\e657";
}

.icon-bianjishuru:before {
    content: "\e8cc";
}

.icon-tianxie:before {
    content: "\ec88";
}

.icon-close-bold:before {
    content: "\e685";
}

.icon-jianqu:before {
    content: "\e60c";
}

.icon-zengjia:before {
    content: "\e6ea";
}

.icon-shanchu:before {
    content: "\e623";
}

.icon-jiangxu:before {
    content: "\e618";
}

.icon-shengxu:before {
    content: "\e61b";
}

.icon-paixusort-jiang:before {
    content: "\e7c6";
}

.icon-paixusort-sheng:before {
    content: "\e7c7";
}

.icon-gouwuche:before {
    content: "\e73d";
}

.icon-kefu:before {
    content: "\ec2e";
}

.icon-my:before {
    content: "\e66f";
}

.icon-fenleiclassify:before {
    content: "\e7c0";
}

.icon-fenxiang:before {
    content: "\e600";
}

.icon-cart:before {
    content: "\e747";
}

.icon-paixu:before {
    content: "\e610";
}
