.materials-container {
  width: 370px;
  height: 100vh;
  overflow: scroll;
  border-right: 1px solid #ddd;
  box-sizing: content-box;
  background-color: #fff;

  .tabs {
    .ant-tabs-nav-list {
      width: 100%;

      .ant-tabs-tab {
        width: 49%;
        text-align: center;
        .ant-tabs-tab-btn {
          width: 100%;
        }
      }
    }
  }
}
