.materials-container{
  background: #fff;
  h1{
    font-size: 16px; text-align: center; margin: 20px 0 20px 0;
    &:before {
      position: relative;
      left: -10px;
      color: #888888;
      content: '-----';
      font-size: 12px;
    }
    &:after {
      position: relative;
      left: 10px;
      color: #888888;
      content: '-----';
      font-size: 12px;
    }
  }
  .materials{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    & .item{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      .title{
        font-size: 12px;
        color: #888;
      }
    }
  }
}
