.numStep {
  height: 26px;
  line-height: 26px;
  border: 1px solid #bcbcbc;
  display: grid;
  grid-template-columns: 26px auto 26px;
  box-sizing: content-box;

  .content {
    border-left: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;
    text-align: center;
    padding: 0 10px;
  }

  .btn {
    width: 26px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    font-size: 16px;
  }
}
