.cart {
  background-color: #f6f6f6;
  overflow: scroll;

  .edit {
    text-align: right;
    border-bottom: 1px solid #e2e2e2;
    padding: 6px 0;
    background-color: #ffffff;

    .btn {
      display: inline-block;
      font-size: 12px;
      margin-right: 10px;
      color: #333333;
      padding: 10px 12px;
    }
  }

  .itemGroup {
    height: calc(100% - 49px - 54px);
    .cartItem {
      width: 100%;
      padding: 22px 12px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 20px 82px 1fr;
      gap: 10px;
      border-bottom: 1px solid #e2e2e2;
      background-color: #ffffff;

      .checkBoxWrap {
        position: relative;

        checkbox {
          position: absolute;
          top: 50%;
          margin-top: -10px;
        }

        .wx-checkbox-input {
          width: 18px;
          height: 18px;
          border-radius: 50%;
        }

        .wx-checkbox-input.wx-checkbox-input-checked {
          background-color: #000000;
        }

        .wx-checkbox-input.wx-checkbox-input-checked::before {
          color: #ffffff;
          font-size: 14px;
        }
      }

      .img {
        width: 82px;
        height: 82px;
        border-radius: 10px;
      }

      .info {
        .goodsName {
          font-size: 14px;
          min-height: 28px;
          line-height: 17px;
          display: block;
          margin-bottom: 6px;
          padding-top: 4px;
        }

        .size {
          font-size: 12px;
          color: #bababa;
          margin-bottom: 6px;
        }

        .handleWrap {
          display: flex;
          justify-content: space-between;

          .price {
            font-size: 12px;
            color: #000;
          }

          .stepper {
            height: 18px;
            --input-width: 30px;
            --button-width: 18px;
          }
        }
      }
    }
  }

  .dashboard {
    width: 100%;
    padding: 7px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    position: sticky;
    bottom: 0;
    left: 0;

    .choose {
      display: flex;
      justify-content: center;
      align-items: center;

      .wx-checkbox-input {
        width: 18px;
        height: 18px;
        border-radius: 50%;
      }

      .wx-checkbox-input.wx-checkbox-input-checked {
        background-color: #000000;
      }

      .wx-checkbox-input.wx-checkbox-input-checked::before {
        color: #ffffff;
        font-size: 14px;
      }
    }

    .check {
      .priceGroup {
        display: inline-block;
        vertical-align: top;
        margin-right: 8px;
        color: #a7a7a7;

        .discount {
          font-size: 12px;
        }

        .all {
          font-size: 14px;
        }

        .data {
          color: #000000;
        }
      }

      .btn {
        height: 40px;
        line-height: 40px;
        padding: 0 26px;
        border-radius: 20px;
        background: #000000;
        font-size: 14px;
        color: #fff;
        display: inline-block;
        vertical-align: top;
      }
    }

    .del {
      .btn {
        height: 40px;
        line-height: 40px;
        padding: 0 26px;
        border-radius: 20px;
        background: #ff1643;
        font-size: 14px;
        color: #fff;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}
