.couponList {
    background-color: #f6f6f6;
    overflow: scroll;

    .couponTab {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 7px;
        padding-top: 30px;
        background-color: #ffffff;

        .couponTabItem {
            color: #999;
            font-size: 16px;
            text-align: center;
            position: relative;

            &.active {
                color: #000;

                .icon {
                    display: block;
                }
            }

            .icon {
                width: 23px;
                height: 2px;
                background-color: #000;
                position: absolute;
                bottom: -7px;
                left: 50%;
                margin-left: -12px;
                border-radius: 20px;
                display: none;
            }
        }
    }

    .couponListContent {
        background-color: #f6f6f6;
        padding: 20px 14px;

        .couponListItem {
            width: 100%;
            display: inline-block;
            padding: 10px;
            position: relative;
            background: radial-gradient(transparent 0px, transparent 4px, #1a1922 4px, #1a1922) -10px -10px;
            background-size: 20px 20px;
            margin-bottom: 14px;
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                left: 5px;
                top: 5px;
                right: 5px;
                bottom: 5px;
                //box-shadow: 0 0 20px 1px rgba(0, 0, 0, 1);
                z-index: -1;
            }

            &.unused {
                .coupon-content {
                    .info {
                        .btn {
                            background-color: #ffffff;
                            color: #393939;
                        }
                    }
                }
            }

            &.used {
                .coupon-content {
                    .info {
                        .btn {
                            background-color: rgba(255, 255, 255, 0.29);
                            color: #393939;
                        }
                    }
                }
            }

            &.overdue {
                background: radial-gradient(transparent 0px, transparent 4px, #d9dae1 4px, #d9dae1) -10px -10px;
                background-size: 20px 20px;
                .coupon-content {
                    background: #d9dae1;
                    .price {
                        .symbol {
                            color: #000;
                        }
                        .num {
                            color: #000;
                        }
                    }
                    .info {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        .title {
                            color: #000000;
                        }

                        .date {
                            margin-bottom: 0;
                            color: rgba(80, 80, 80, 0.45);
                        }

                        .btn {
                            display: none;
                        }
                    }
                }
            }

            .coupon-content {
                height: 120px;
                width: 100%;
                background: #1a1922;
                display: grid;
                grid-template-columns: 108px 1fr;
                position: relative;

                .choose {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background: #fff;
                    border-radius: 100%;
                    overflow: hidden;
                }

                .price {
                    border-right: 1px dashed #fff;
                    text-align: center;
                    line-height: 120px;

                    .symbol {
                        font-size: 23px;
                        color: #fff;
                    }

                    .num {
                        font-size: 33px;
                        color: #fff;
                        text-align: left;
                    }
                }

                .info {
                    padding: 18px;
                    box-sizing: border-box;

                    .title {
                        margin-bottom: 4px;
                        font-size: 16px;
                        color: #fff;
                        line-height: 22px;
                        display: block;
                        position: relative;
                        z-index: 2;
                    }

                    .date {
                        display: block;
                        color: rgba(255, 255, 255, 0.45);
                        font-size: 12px;
                        margin-bottom: 15px;
                        position: relative;
                        z-index: 2;
                    }

                    .btn {
                        width: 100px;
                        height: 27px;
                        line-height: 27px;
                        text-align: center;
                        border-radius: 20px;
                    }
                }

                .round {
                    width: 100px;
                    height: 100px;
                    line-height: 75px;
                    text-align: center;
                    border-radius: 50%;
                    border: 10px solid #e4e5e9;
                    position: absolute;
                    right: -21px;
                    bottom: -44px;
                    z-index: 1;
                    color: rgba(80, 80, 80, 0.45);
                }
            }
        }
    }
}
