//.evaluateList {
//    .topInfo {
//        display: flex;
//        justify-content: space-between;
//        margin-bottom: 20px;
//
//        .title {
//            font-size: 14px;
//        }
//
//        .txt {
//            font-size: 12px;
//            color: #999;
//        }
//    }
//
//    .evaluateList-item {
//        color: #333333;
//        padding-bottom: 20px;
//
//        .userInfo {
//            display: grid;
//            grid-template-columns: 48px auto;
//            margin-bottom: 12px;
//
//            .avatar {
//                width: 38px;
//                height: 38px;
//                display: inline-block;
//                margin-right: 10px;
//                border-radius: 100%;
//            }
//
//            .userName {
//                line-height: 38px;
//            }
//        }
//
//        .size {
//            font-size: 12px;
//            margin-bottom: 4px;
//        }
//
//        .content {
//            font-size: 14px;
//        }
//
//        .img-group {
//            display: grid;
//            grid-template-columns: repeat(4, auto);
//            .img {
//                display: block;
//                border-radius: 4px;
//            }
//        }
//    }
//}

.evaluateListTab {
    background-color: #fff;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;

    .evaluateListTabItem {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        color: #0b0b0b;
        height: 24px;
        line-height: 24px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #fff;

        &.active {
            border: 1px solid #000;
        }
    }
}

.evaluateListContent {
    border-top: 10px solid #f6f6f6;
    border-left: 10px solid #f6f6f6;
    border-right: 10px solid #f6f6f6;
    box-sizing: border-box;
    background-color: #f6f6f6;
}
