@import '../basic/textLine.scss';

.goodsList {
    .top-info {
        &-search {
            box-sizing: border-box;
            margin: 0 15px 17px;
            height: 34px;
            background-color: #f4f4f4;
            border-radius: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                width: 14px;
                height: 14px;
                margin-right: 5px;
            }
        }

        .sortWrap {
            height: 43px;
            line-height: 43px;
            display: grid;
            cursor: pointer;
            grid-template-columns: repeat(4, 1fr);

            .sortItem {
                text-align: center;
                &.active {
                    color: #ff0934;
                }
            }
        }
    }

    .listWrap {
        background-color: #f6f6f6;
        //padding: 10px;
        .list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 10px;
            .listItem {
                border-radius: 8px;
                overflow: hidden;
                background-color: #fff;
                padding-bottom: 12px;

                .img {
                    display: block;
                    width: 100%;
                    height: 170px;
                    background-size: cover;
                    margin-bottom: 5px;
                }

                .name {
                    font-size: 12px;
                    display: block;
                    padding: 0 10px;
                    margin-bottom: 5px;
                    @include titleLine(1);
                }

                .price {
                    display: block;
                    color: #ff0934;
                    font-size: 12px;
                    padding: 0 10px;
                }
            }
        }
    }
}
