.GoodsDetailWrap {
  //overflow: scroll;
  background-color: #f6f6f6;
  //padding-top: 12px;
  //padding-bottom: 12px;

  .skeleton {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
  }

  .topSlider {
    margin-bottom: 10px;
  }

  .goodsDetail-topInfo {
    background-color: #fff;
    margin: 0 10px 12px;
    padding: 13px;
    display: grid;
    grid-template-columns: 1fr 54px;
    border-radius: 8px;

    .name {
      font-size: 18px;
      color: #000000;
      line-height: 25px;
      display: block;
      padding-right: 10px;

    }

    .price {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 7px;
    }

    .rPart {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-left: 1px solid #ededed;
      padding-left: 10px;

      .icon {
        cursor: pointer;
        width: 21px;
        height: 21px;
        display: block;
        margin: 0 auto 7px;
      }

      .txt {
        font-size: 12px;
      }
    }
  }

  .goodsDetail-promotion {
    background-color: #fff;
    margin: 0 10px 12px;
    padding: 13px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 52px 1fr;

    .label {
      font-size: 14px;
    }

    .group {
      display: flex;
      flex-wrap: wrap;
      margin: -10px -10px 0 0 ;

      .noPromotion {
        line-height: 22px;
        color: #999;
      }

      .item {
        font-size: 12px;
        padding: 2px 10px;
        background-color: #f3f3f3;
        display: inline-block;
        margin: 10px 10px 0 0 ;
        border-radius: 20px;
      }
    }
  }

  .goodsDetail-coupon,
  .goodsDetail-size {
    background-color: #fff;
    margin: 0 10px 12px;
    padding: 13px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 52px 1fr;
    font-size: 14px;

    .info {
      display: flex;
      justify-content: space-between;

      .label {
        color: #999;
      }

      .icon {
        cursor: pointer;
        width: 14px;
        height: 3px;
        margin-top: 10px;
      }
    }
  }

  .goodsDetailHandleBar {
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    position: sticky;
    bottom: 0;
    left: 0;
    //top: 0;
    box-sizing: border-box;
    padding: 7px 10px;
    display: grid;
    grid-template-columns: 30px 40px 1fr;
    gap: 20px;

    .txt {
      font-size: 13px;
      margin-top: 4px;
    }

    .linkGroup {
      text-align: center;
    }

    .btnGroup {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        &.addCart {
          background-color: #959595;
          color: #ffffff;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }

        &.buy {
          background-color: #000000;
          color: #ffffff;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
    }
  }

  .goodsDetailTab {
    background-color: #ffffff;
    margin: 0 10px 12px;
    border-radius: 8px;
    overflow: hidden;

    .tabs {
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin-bottom: 10px;
      display: flex;

      .tabsItem {
        flex: 1;
        display: inline-block;
        font-size: 16px;
        position: relative;

        &.active {
          .line {
            display: block;
          }
        }

        .line {
          width: 40px;
          height: 2px;
          background-color: #000000;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -20px;
          display: none;
        }
      }
    }
  }

  .goodsDetail-info {

    .mystyle {
      width: 100% !important;
      height: auto;
      display: block;
      background-size: cover !important;
    }

    width: 100%;
    background-color: #ffffff;

    .ssd-module-wrap {
      width: 100%;

      .ssd-module {
        width: 100%;
        background-size: cover;
      }
    }
  }
}

.goodsDetail-coupon-popup {
  padding: 14px;

  .stampWrap {
    max-height: 40vh;
    overflow-y: scroll;

    .stamp {
      width: 100%;
      display: inline-block;
      padding: 10px;
      position: relative;
      background: radial-gradient(transparent 0px, transparent 4px, #1a1922 4px, #1a1922) -10px -10px;
      background-size: 20px 20px;
      margin-bottom: 14px;

      &:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 5px;
        right: 5px;
        bottom: 5px;
        //box-shadow: 0 0 20px 1px rgba(0, 0, 0, 1);
        z-index: -1;
      }

      .stamp-content {
        height: 120px;
        width: 100%;
        background: #1a1922;
        display: grid;
        grid-template-columns: 108px 1fr;
        position: relative;

        .choose {
          position: absolute;
          top: 10px;
          right: 10px;
          background: #fff;
          border-radius: 100%;
          overflow: hidden;
        }

        .price {
          border-right: 1px dashed #fff;
          text-align: center;
          line-height: 120px;

          .symbol {
            font-size: 23px;
            color: #fff;
          }

          .num {
            font-size: 33px;
            color: #fff;
            text-align: left;
          }
        }

        .info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .title {
            margin-bottom: 12px;
            font-size: 16px;
            color: #fff;
            line-height: 22px;
          }

          .date {
            color: rgba(255, 255, 255, 0.45);
          }
        }
      }
    }
  }

  .confirm {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
  }
}

.goodsDetail-size-popup {
  background: #fff;
  display: grid;
  //grid-template-rows: calc(50vh - 110px) 88px;

  .content {
    overflow-y: scroll;

    .goodsInfo {
      width: 100%;
      border-bottom: 1px solid #e2e2e2;
      padding: 14px 12px 20px;
      display: grid;
      grid-template-columns: 72px 1fr;
      gap: 10px;
      box-sizing: border-box;

      .lPart {
        .goodsImg {
          width: 70px;
          height: 70px;
          border: 1px solid #ccc;
        }
      }

      .rPart {
        .name {
          font-size: 13px;
          width: 98%;
          margin-bottom: 6px;
        }

        .price {
          font-size: 14px;
          margin-bottom: 4px;
        }

        .chosen {
          color: #a7a7a7;
          font-size: 14px;
        }
      }
    }

    .sizeArr {
      padding: 20px 0;
      border-bottom: 1px solid #e2e2e2;

      .title {
        display: block;
        font-size: 13px;
        color: #000000;
        margin-bottom: 15px;
        padding: 20px 12px 0;
      }

      .sizeArrItemWrap {
        padding: 0 12px;

        .sizeItem {
          padding: 7px 27px;
          border: 1px solid #a7a7a7;
          margin-right: 10px;
          display: inline-block;
          border-radius: 4px;
          color: #a7a7a7;

          &.active {
            //background: #346fc2;
            color: #000000;
            border-color: #1a1a1a;
          }
        }
      }
    }

    .countWrap {
      padding: 16px 12px;
      display: flex;
      justify-content: space-between;

      .label {
        font-size: 13px;
      }
    }
  }

  .btnWrap {
    height: 60px;
    box-sizing: border-box;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      width: 100%;
      height: 40px;
      line-height: 40px;
      background-color: #000000;
      display: block;
      border-radius: 20px;
      text-align: center;
      color: #ffffff;
    }
  }
}
