.goods-classify {
  padding: 10px;

  .goods-classify-search {
    width: 100%;
    margin-bottom: 17px;
    height: 34px;
    background-color: #f4f4f4;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
  }
}

.goodsClassifyContainer {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 90px 1fr;
  width: 100%;
  height: calc(100% - 71px);

  .side {
    .adm-side-bar-item-active {
      --adm-color-primary: #000000;
    }

  }

  .main {
    .content {
      height: 100%;
      display: none;
      color: #cccccc;

      &.active {
        display: block;
      }

      .classifyFloor {
        .titleWrap {
          height: 20px;
          width: 60%;
          //background: greenyellow;
          margin: 0 auto;
          padding: 20px 0;
          text-align: center;
          position: relative;

          .title {
            color: #333;
            font-size: 14px;
            background-color: #fff;
            height: 20px;
            display: inline-block;
            padding: 0 10px;
            position: relative;
            z-index: 1;
          }

          .line {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            left: 0;
            top: 50%;
          }
        }

        .container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
          padding: 0 10px;
          box-sizing: border-box;

          .classifyFloorGoodsItem {
            .logo {
              width: 70px;
              height: 70px;
              display: block;
              margin-bottom: 12px;
            }

            .title {
              font-size: 12px;
              text-align: center;
              display: block;
              color: #272727;
            }
          }
        }
      }
    }
  }
}

.adm-side-bar {
  --adm-color-box: #f5f5f5;
  --item-border-radius: 8px;
}

.adm-side-bar-item {
  font-size: 12px;
}

.adm-side-bar-item-active {
  --adm-color-primary: #1677ff;
  --adm-color-background: #fff;
}

.classifySkeleton {
  display: grid;
  grid-template-columns: 88px 1fr;

  .lPart {
    border-right: 1px solid #ccc;
    height: 100%;

    .blc {
      --width: 90%;
      --height: 50px;
      --border-radius: 0px;
      margin: 0 auto 10px;
    }
  }
}
