.btnGroup {
    text-align: right;

    .btn {
        &.white {
            --background-color: #fff;
            --border-color: #000;
        }

        &.black {
            --background-color: #000;
            --border-color: #000;
            --text-color: #fff;
            margin-left: 10px;
        }
    }
}
