.orderEntry {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(231, 227, 227, 0.5);
  border-radius: 8px;

  .title {
    height: 46px;
    line-height: 46px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f8f8f8;

    .name {
      font-size: 15px;
      margin-left: 13px;
      font-weight: bold;
    }

    .more {
      font-size: 12px;
      margin-right: 13px;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 73px;
    text-align: center;
    padding-top: 14px;

    .contentItem {
      .icon {
        font-size: 22px !important;
        font-weight: 500 !important;
        display: block;
        margin: 0 auto 7px;
      }

      .subTitle {
        display: block;
        font-size: 11px;
      }
    }
  }
}
