.paymentModeWrap {
  background-color: #fff;

  .paymentMode {
    padding-bottoM: 65px;
    box-sizing: border-box;
    height: inherit;
    overflow: scroll;

    .topInfo {
      padding: 24px 12px 22px;
      border-bottom: 10px solid #fafafa;

      .title {
        font-size: 18px;
        margin-bottom: 13px;
        display: flex;
        align-items: center;
        .icon {
          margin-right: 5px;
        }
      }

      .info {
        color: #7a7a7a;
        font-size: 12px;
      }
    }

    .paymentGroup {
      .paymentItem {
        padding: 16px;
        border-bottom: 1px solid #f5f5f5;
        display: grid;
        grid-template-columns: 20px 1fr;
        gap: 8px;

        .base, .info {
          display: flex;
          justify-content: space-between;
        }
        .info {
          padding-top: 20px;
        }

        .icon {
          font-size: 20px;
        }
      }
    }
  }

  .btnGroup {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: sticky;
    bottom: 0px;
    background-color: #fff;
    margin-top: -54px;

    .payment {
      width: 100%;
      background-color: #000;
      height: 34px;
      line-height: 34px;
      color: #fff;
      font-size: 14px;
      border-radius: 20px;
      text-align: center;
      cursor: pointer;
    }
  }
}
