.searchPage {
    .search-title {
        padding: 10px 15px 5px 15px;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #ececec;
        display: grid;
        grid-template-columns: 28px 1fr 40px;

        img {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            display: block;
            margin-top: 7px;
        }

        .content {
            height: 34px;
            line-height: 34px;
            border: 0 none;
            background: transparent;
        }

        .btn {
            color: #000;
            font-size: 14px;
            width: 40px;
            text-align: right;
            height: 34px;
            line-height: 34px;
        }
    }

    .historyWrap {
        .title {
            height: 61px;
            line-height: 61px;
            display: flex;
            justify-content: space-between;
            padding: 0 20px;

            .label {
                font-size: 15px;
                color: #666;

                .icon {
                    display: inline-block;
                    width: 2px;
                    height: 8px;
                    background-color: #666;
                    margin-right: 9px;
                }
            }

            .clear {
                font-size: 12px;
                color: #666;
            }
        }

        .content {
            padding: 0 10px;
            .historyItem {
                height: 24px;
                line-height: 24px;
                background-color: #f9f9f9;
                color: #666;
                margin-right: 10px;
                margin-bottom: 10px;
                display: inline-block;
                padding: 2px 20px;
                border-radius: 10px;
            }
        }
    }
}
